---
import Navigation from "./Navigation.astro";
---

<footer
  class="fixed bottom-0 left-0 flex w-full flex-row justify-between p-5 lowercase"
>
  <a href="mailto:me@pleskot.net">me@pleskot.net</a>

  <Navigation />
</footer>
